.App {
  background: rgb(174, 229, 238);
  background: radial-gradient(
    circle,
    rgba(174, 229, 238, 1) 20%,
    rgba(118, 198, 193, 1) 73%
  );
  text-align: center;
  min-height: 100vh;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  padding: 5px;
}
li {
  list-style-type: none;
}
.user_avatar {
  width: 150px;
  height: 150px;
}
.user_selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Header {
  border: 2px green solid;
}
.Nav {
  border: 2px red solid;
}
.Article {
  border: 2px violet solid;
}
.Articles {
  border: 2px blue solid;
}
